@charset "UTF-8";
nav {
	display: flex;
	justify-content: flex-end;
	margin-top: -24px;
	margin-right: -8px;
	border-style: none;
}
li   {
	list-style-type: none;
	text-decoration: none;
	display: block;
	width: 50px;
	writing-mode: vertical-lr;
}
nav a   {
	color: #030303;
	text-decoration: none;
	font-size: 34px;
	text-align: left;
	writing-mode: vertical-lr;
	display: inline-block;
	border-style: solid;
	border-width: thin;
}
#a:hover {
	background-color: #010101;
	color: #FFFFFF;
}
.flex {
	display: flex;
	justify-content: flex-end;
	flex-direction: row-reverse;
	position: fixed;
	text-align: justify;
}
h1   {
}
#a {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
	text-align: left;
}
#b {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 0px;
}
#c {
	padding-top: 5px;
	padding-bottom: 5px;
}
#c:hover {
	background-color: #F7CE74;
	color: #000000;
}
#d {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
}
#d:hover {
	background-color: #D7EDF9;
}
#b:hover {
	background-color: #B4DDAC;
}
.container {
	margin-left: 178px;
	display: flex;
}
header {
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
}
.tribe   {
	border-style: solid;
	font-size: 32px;
	width: 220px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: center;
	border-width: thin;
	margin-right: 0px;
}
.home {
	display: flex;
	align-items: flex-end;
	width: 840px;
	padding-top: 0px;
}

.culture  {
	border-style: solid;
	text-align: center;
	font-size: 33px;
	height: 285px;
	font-weight: normal;
	padding-right: 2px;
	border-width: thin;
	writing-mode: vertical-rl;
}
main {
	flex-direction: column;
	display: flex;
	margin-top: 60px;
	justify-content: center;
	align-items: center;
}
.malaho {
	display: flex;
	flex-direction: row-reverse;
	padding-top: 0px;
	padding-right: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
	align-items: center;
	justify-content: center;
}

.malaho p {
	writing-mode: vertical-rl;
	height: 250px;
	padding-top: 15px;
	padding-bottom: 15px;
	display: inline-block;
	line-height: 40px;
	margin-right: -5px;
	font-size: large;
	font-variant: normal;
	text-indent: 1px;
	letter-spacing: 4px;
	text-align: justify;
}
#a01 {
	writing-mode: vertical-lr;
	text-align: center;
	display: inline;
	height: 125px;
	font-size: xx-large;
	border-style: solid;
	border-width: thin;
}
.竹 {
	background-image: url(img/%E7%AB%B9%E5%B1%8B.jpg);
	background-position: 26%
0%;
	background-position: 0% 0%;
	background-clip: padding-box;
	background-size: cover;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 680px;
	height: 400px;
}
.box1 {
	display: flex;
	padding-bottom: 50px;
}
.left {
	flex: 1;
	text-align: center;
	border-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 20px;
	margin-right: 20px;
}
.box1 .left .高粱 {
	border-style: none solid solid;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: large;
	width: 110px;
	border-width: thin;
	background-color: #AFDDB9;
}
.box1 .wb .draw {
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	background-color: #AFDDB9;
	width: 110px;
	flex: 1;
	font-size: large;
	border-style: none solid solid;
	border-left-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
}
.work .box1 .left3 {
	width: 550px;
	height: 550px;
	background-image: url(img/IMG_2319.JPG);
	background-size: cover;
	background-position: 60% 0%;
}
.right {
	flex: 1.2;
	background-image: url(img/IMG_1124.jpg);
	height: 550px;
	background-size: cover;
	background-position: center center;
	width: 550px;
}
.work #a02 {
	background-color: #AFDDB9;
	color: #000000;
	border-style: solid;
	text-align: center;
	width: 140px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-width: thin;
	font-size: xx-large;
}
.word {
	border-style: solid;
	font-size: 22px;
	width: 300px;
	text-align: justify;
	padding-left: 15px;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	border-width: thin;
	background-color: #E7EBFA;
}
.b1 {
	padding-bottom: 30px;
}
.work .box1 .word2 {
	border-style: solid;
	width: 300px;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	font-size: 22px;
	text-align: justify;
	border-width: thin;
	background-color: #E7EBFA;
}
.work .box1 .left2 {
	background-image: url(img/%E9%95%B7%E8%80%85%E9%97%9C%E6%87%B7.jpg);
	width: 550px;
	height: 550px;
	background-position: 0%
0%;
	background-position: 50% 0%;
	background-size: cover;
	background-position: 50% 0%;
}
.work .box1 .right2 {
	background-image: url(img/IMG_1316.jpg);
	width: 550px;
	height: 550px;
	background-size: cover;
	background-position: 60% 0%;
}
.photo {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 10px;
	padding-left: auto;
	padding-right: auto;
	border-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.photo .box2 {
	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 50px;
}
.photo .box2 .p2 {
	flex: 1;
	background-size: cover;
	background-image: url(img/IMG_2345.JPG);
	width: 500px;
	height: 500px;
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-top: 20px;
	border: thin solid #000000;
}
.photo .box2 .p2:hover {
	flex: 1;
	background-size: cover;
	background-image: url(img/IMG_2345.JPG);
	width: 500px;
	height: 500px;
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-top: 10px;
	margin-bottom: 10px;
	border: thin solid #000000;
	transform: scale(1.1,1.1);
}
.photo #a03 {
	border-style: none solid solid none;
	color: #030303;
	background-color: #F7CE74;
	text-align: center;
	padding-right: 5px;
	padding-left: 5px;
	margin-top: 0px;
	border-bottom-width: thin;
	border-right-width: thin;
	font-size: 30px;
	width: 94px;
}
.team   {
	color: #000000;
	font-size: large;
	border-left: medium none #000000;
	border-right: thin solid #000000;
	border-bottom: medium solid #000000;
	border-top: thin none #000000;
	width: 20px;
	background-color: #F7CE74;
	text-align: center;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
}
.new {
	display: flex;
	width: 93px;
	position: fixed;
	margin-top: 17px;
	margin-left: -8px;
}
.girl {
	background-image: url(img/IMG_2289.JPG);
	width: 700px;
	height: 750px;
	background-size: cover;
	background-position: 0% 85%;
	margin-top: -20px;
}
.new .culture1 {
	background-color: #FBB1B3;
	border-right-color: #000000;
	border-bottom-color: #000000;
	height: 486px;
	text-align: center;
}
.work {
	margin-top: 10px;
}
.p3   {
	background-image: url(img/IMG_1139.jpg);
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	background-position: 65% 0%;
	background-size: cover;
	border-style: solid;
	border-width: thin;
	width: 800px;
	height: 600px;
	padding-left: auto;
	padding-right: auto;
}
.p4   {
	flex: 1;
	background-image: url(img/29806465-A741-4829-80A0-63A8287C4792.JPG);
	width: 500px;
	height: 500px;
	background-size: cover;
	background-position: 76% top;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	border: thin solid #000000;
}
.box2 .p4:hover {
	flex: 1;
	background-image: url(img/29806465-A741-4829-80A0-63A8287C4792.JPG);
	width: 500px;
	height: 500px;
	background-size: cover;
	background-position: 76% top;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: thin solid #000000;
	transform: scale(1.1,1.1);
}

.box2 .p2 .team2 {
	background-color: #F7CE74;
	width: 25px;
	text-align: center;
	border-top: thin solid #000000;
	border-left: thin solid #000000;
	padding-left: 2px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
}


.container5  {
	background-image: url(img/IMG_2396.jpg);
	border: thin solid #000000;
	padding-left: 60px;
	margin-right: auto;
	margin-top: 100px;
	background-size: cover;
	position: static;
	background-position: 0% 80%;
	margin-left: auto;
	display: inherit;
	width: 800px;
	height: 600px;
}
.ci {
	background-color: #FBDC95;
	height: 100px;
	width: 100px;
	text-align: center;
	color: #FFFFFF;
	font-weight: 900;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 30%60%60%50%/80%40%70%40%;
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	font-size: x-large;
	font-style: normal;
	-webkit-text-stroke: 0.2px #000;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.river {
	padding-left: 30px;
	padding-right: 30px;
	font-weight: lighter;
	text-align: justify;
	line-height: 30px;
	border: thin solid #000000;
	margin-top: 100px;
	margin-bottom: 100px;
	background-color: #F8E9D4;
	margin-left: auto;
	margin-right: auto;
	height: 500px;
	width: 800px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.foot {
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-right: 20px;
	margin-left: 20px;
}
.title {
	font-size: 33px;
	text-align: center;
	background-color: #B7E2F9;
	width: 185px;
	margin-left: -60px;
	border-right: thin solid #000000;
	border-bottom: thin solid #000000;
}
.fb a {
	display: inherit;
	text-decoration: none;
	color: #000000;
}
.p3:hover {
	background-image: url(img/IMG_1139.jpg);
	width: 800px;
	height: 600px;
	border: thin solid #000000;
	background-position: 65% 0%;
	background-size: cover;
	transform: scale(1.1,1.1);
}
body {
	font-family: 'Noto Serif TC', serif;
	font-weight: 400;
}
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.fa.fa-facebook-square {
}
.fb {
	font-size: 30px;
	text-align: left;
	display: inherit;
	margin-bottom: 16px;
}
.fb:hover {
	text-decoration: none;
	color: #1B77F2;
}
.date   {
	text-align: center;
	border: thin solid #000000;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	font-size: x-large;
}
.box1 .left  {
	padding-right: 15px;
	padding-left: 15px;
}
.e   {
	background-image: url(img/IMG_2343.JPG);
	width: 100px;
	border-radius: 80%40%70%40%/40%60%60%50%;
	height: 100px;
	background-size: cover;
	background-position: center bottom;
	display: flex;
	margin-top: -27px;
}
.y {
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-end;
	justify-content: flex-end;
}
.go {
	display: flex;
	background-attachment: fixed;
	margin-right: -60px;
	margin-top: -25px;
	justify-content: flex-end;
}
.new .pro {
	border-style: solid solid solid none;
	height: 353px;
	font-size: x-large;
	border-width: thin;
	background-color: #FBFCBC;
	padding-right: 8px;
	padding-left: 8px;
}
